/* [next]/internal/font/google/dm_sans_2a0efa43.module.css [app-client] (css) */
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url("../media/rP2Yp2ywxg089UriI5_g4vlH9VoD8Cmcqbu6_K6z9mXgjU0-s.2c33b2c8.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url("../media/rP2Yp2ywxg089UriI5_g4vlH9VoD8Cmcqbu0_K6z9mXg-s.p.40e38601.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: DM Sans Fallback;
  src: local(Arial);
  ascent-override: 94.9%;
  descent-override: 29.66%;
  line-gap-override: 0.0%;
  size-adjust: 104.53%;
}

.dm_sans_2a0efa43-module__oi-ftW__className {
  font-family: DM Sans, DM Sans Fallback;
  font-style: normal;
}

.dm_sans_2a0efa43-module__oi-ftW__variable {
  --font-dm-sans: "DM Sans", "DM Sans Fallback";
}


/* [project]/styles/globals.css [app-client] (css) */
:root {
  --font-dm-sans: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-dm-sans);
}

a {
  color: inherit;
  text-decoration: none;
}


/* [project]/node_modules/@smastrom/react-rating/dist/style.css [app-client] (css) */
.rr--group {
  width: 100%;
  display: flex;
  position: relative;
}

.rr--box {
  -webkit-tap-highlight-color: #0000;
  flex-grow: 1;
  width: 100%;
  display: flex;
}

.rr--svg {
  aspect-ratio: 1;
  pointer-events: none;
  flex-grow: 1;
  width: 100%;
  display: flex;
  overflow: clip;
}

@supports not (overflow: clip) {
  .rr--svg {
    overflow: auto;
  }
}

.rr--box:focus, .rr--box:focus-visible, .rr-reset:focus-visible, .rr-reset:focus {
  box-shadow: none;
  outline: none;
}

.rr--focus-reset {
  outline: 6px double #0079ff;
}

.rr--box:focus-visible .rr--svg {
  isolation: isolate;
  outline: 6px double #0079ff;
}

.rr--reset {
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  bottom: 50%;
  right: 0;
  overflow: hidden;
}

[dir="rtl"] .rr--reset {
  left: 0;
  right: auto;
}

.rr--dir-y .rr--reset {
  bottom: 0;
  right: 50%;
}

.rr--disabled {
  opacity: .5;
  cursor: not-allowed;
}

.rr--disabled .rr--svg {
  pointer-events: none;
}

.rr--pointer .rr--box {
  cursor: pointer;
}

.rr--dir-x {
  flex-direction: row;
}

.rr--dir-y {
  flex-direction: column;
}

.rr--space-sm .rr--svg {
  padding: 8%;
}

.rr--space-md .rr--svg {
  padding: 12.5%;
}

.rr--space-lg .rr--svg {
  padding: 17.5%;
}

.rr--dir-x.rr--gap-sm .rr--svg {
  margin: 0 6.25%;
}

.rr--dir-x.rr--gap-sm .rr--box:focus-visible:after {
  width: 87.5%;
  left: 6.25%;
}

.rr--dir-x.rr--gap-md .rr--svg {
  margin: 0 12.5%;
}

.rr--dir-x.rr--gap-md .rr--box:focus-visible:after {
  width: 75%;
  left: 12.5%;
}

.rr--dir-x.rr--gap-lg .rr--svg {
  margin: 0 25%;
}

.rr--dir-x.rr--gap-lg .rr--box:focus-visible:after {
  width: 50%;
  left: 25%;
}

.rr--dir-y.rr--gap-sm .rr--svg {
  margin: 6.25% 0;
}

.rr--dir-y.rr--gap-md .rr--svg {
  margin: 12.5% 0;
}

.rr--dir-y.rr--gap-lg .rr--svg {
  margin: 25% 0;
}

.rr--rx-sm .rr--svg {
  border-radius: 5%;
}

.rr--rx-md .rr--svg {
  border-radius: 15%;
}

.rr--rx-lg .rr--svg {
  border-radius: 20%;
}

.rr--rx-full .rr--svg {
  border-radius: 100%;
}

.rr--has-stroke .rr--svg {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.rr--has-border .rr--svg {
  border-width: var(--rr--border-width);
  border-style: solid;
}

.rr--on .rr--svg {
  fill: var(--rr--fill-on-color, none);
}

.rr--off .rr--svg {
  fill: var(--rr--fill-off-color, none);
}

.rr--has-stroke .rr--on .rr--svg {
  stroke: var(--rr--stroke-on-color, currentColor);
}

.rr--has-stroke .rr--off .rr--svg {
  stroke: var(--rr--stroke-off-color, currentColor);
}

.rr--on .rr--svg {
  background-color: var(--rr--box-on-color, none);
}

.rr--off .rr--svg {
  background-color: var(--rr--box-off-color, none);
}

.rr--has-border .rr--off .rr--svg {
  border-color: var(--rr--border-off-color, currentColor);
}

.rr--has-border .rr--on .rr--svg {
  border-color: var(--rr--border-on-color, currentColor);
}

.rr--fx-colors {
  --rr--easing: .2s cubic-bezier(.61, 1, .88, 1);
}

.rr--fx-colors .rr--svg {
  transition-duration: .2s;
  transition-timing-function: var(--rr--easing);
  transition-property: background-color, border-color, fill, stroke;
}

.rr--fx-opacity .rr--off {
  opacity: .35;
  transition: opacity var(--rr--easing);
}

.rr--fx-opacity .rr--on {
  opacity: 1;
}

@media (hover: hover) {
  .rr--fx-opacity .rr--box:hover {
    opacity: 1;
  }

  .rr--fx-zoom .rr--box {
    transition: transform var(--rr--easing);
    transform: scale(1);
  }

  .rr--fx-zoom .rr--box:hover {
    transform: scale(1.2);
  }

  @media (prefers-reduced-motion) {
    .rr--fx-zoom .rr--box:hover {
      transform: scale(1);
    }
  }

  .rr--fx-position .rr--box {
    transition: transform var(--rr--easing);
    transform: translateY(0);
  }

  .rr--fx-position .rr--box:hover {
    transform: translateY(-15%);
  }

  @media (prefers-reduced-motion) {
    .rr--fx-position .rr--box:hover {
      transform: translateY(0);
    }
  }
}

.rr--svg-stop-1 {
  stop-color: var(--rr--fill-on-color, #0000);
}

[dir="rtl"] .rr--svg-stop-1, .rr--svg-stop-2 {
  stop-color: var(--rr--fill-off-color, #0000);
}

[dir="rtl"] .rr--svg-stop-2 {
  stop-color: var(--rr--fill-on-color, #0000);
}

.rr--hf-svg-on {
  fill: var(--rr--fill-on-color, none);
}

.rr--hf-svg-off {
  fill: var(--rr--fill-off-color, none);
}

.rr--has-stroke .rr--hf-svg-on {
  stroke: var(--rr--stroke-on-color, currentColor);
}

.rr--has-stroke .rr--hf-svg-off {
  stroke: var(--rr--stroke-off-color, currentColor);
}

.rr--hf-svg-on .rr--svg, .rr--hf-svg-off .rr--svg {
  background-color: var(--rr--box-off-color, none);
}

.rr--has-border .rr--hf-svg-on .rr--svg {
  border-color: var(--rr--border-on-color, currentColor);
}

.rr--has-border .rr--hf-svg-off .rr--svg {
  border-color: var(--rr--border-off-color, currentColor);
}

.rr--dir-x .rr--hf-box-int .rr--svg {
  background: linear-gradient(to right, var(--rr--box-on-color, none) 50%, var(--rr--box-off-color, none) 50%);
}

[dir="rtl"] .rr--dir-x .rr--hf-box-int .rr--svg {
  background: linear-gradient(to left, var(--rr--box-on-color, none) 50%, var(--rr--box-off-color, none) 50%);
}

.rr--dir-y .rr--hf-box-int .rr--svg {
  background: linear-gradient(to bottom, var(--rr--box-on-color, none) 50%, var(--rr--box-off-color, none) 50%);
}

.rr--hf-box-on .rr--svg {
  background-color: var(--rr--box-on-color, none);
}

.rr--hf-box-off .rr--svg {
  background-color: var(--rr--box-off-color, none);
}

.rr--hf-box-on .rr--svg, .rr--hf-box-off .rr--svg, .rr--hf-box-int .rr--svg {
  fill: var(--rr--fill-off-color, none);
}

.rr--has-stroke .rr--hf-box-on .rr--svg, .rr--has-stroke .rr--hf-box-off .rr--svg, .rr--has-stroke .rr--hf-box-int .rr--svg {
  stroke: var(--rr--stroke-off-color, currentColor);
}

.rr--has-border .rr--hf-box-on .rr--svg, .rr--has-border .rr--hf-box-int .rr--svg {
  border-color: var(--rr--border-on-color, currentColor);
}

.rr--has-border .rr--hf-box-off .rr--svg {
  border-color: var(--rr--border-off-color, currentColor);
}


/*# sourceMappingURL=%5Broot-of-the-server%5D__bb155468._.css.map*/