/* [project]/node_modules/react-datepicker/dist/react-datepicker.css [app-client] (css) */
.react-datepicker__navigation-icon:before, .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow {
  content: "";
  border: 3px solid #ccc;
  border-width: 3px 3px 0 0;
  width: 9px;
  height: 9px;
  display: block;
  position: absolute;
  top: 6px;
}

.react-datepicker-wrapper {
  border: 0;
  padding: 0;
  display: inline-block;
}

.react-datepicker {
  color: #000;
  font-family: Helvetica Neue, helvetica, arial, sans-serif;
  font-size: .8rem;
  line-height: initial;
  background-color: #fff;
  border: 1px solid #aeaeae;
  border-radius: .3rem;
  display: inline-block;
  position: relative;
}

.react-datepicker--time-only .react-datepicker__time-container {
  border-left: 0;
}

.react-datepicker--time-only .react-datepicker__time, .react-datepicker--time-only .react-datepicker__time-box {
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.react-datepicker-popper {
  z-index: 1;
  line-height: 0;
}

.react-datepicker-popper .react-datepicker__triangle {
  stroke: #aeaeae;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  fill: #f0f0f0;
  color: #f0f0f0;
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle {
  fill: #fff;
  color: #fff;
}

.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: .3rem;
  padding: 8px 0;
  position: relative;
}

.react-datepicker__header--time {
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

.react-datepicker__header--time:not(.react-datepicker__header--time--only) {
  border-top-left-radius: 0;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: .3rem;
}

.react-datepicker__year-dropdown-container--select, .react-datepicker__month-dropdown-container--select, .react-datepicker__month-year-dropdown-container--select, .react-datepicker__year-dropdown-container--scroll, .react-datepicker__month-dropdown-container--scroll, .react-datepicker__month-year-dropdown-container--scroll {
  margin: 0 15px;
  display: inline-block;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  color: #000;
  margin-top: 0;
  font-size: .944rem;
  font-weight: bold;
}

h2.react-datepicker__current-month {
  margin: 0;
  padding: 0;
}

.react-datepicker-time__header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.react-datepicker__navigation {
  text-align: center;
  cursor: pointer;
  z-index: 1;
  text-indent: -999em;
  background: none;
  border: none;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  position: absolute;
  top: 2px;
  overflow: hidden;
}

.react-datepicker__navigation--previous {
  left: 2px;
}

.react-datepicker__navigation--next {
  right: 2px;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 85px;
}

.react-datepicker__navigation--years {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: 0;
}

.react-datepicker__navigation--years-previous {
  top: 4px;
}

.react-datepicker__navigation--years-upcoming {
  top: -4px;
}

.react-datepicker__navigation:hover :before {
  border-color: #a6a6a6;
}

.react-datepicker__navigation-icon {
  width: 0;
  font-size: 20px;
  position: relative;
  top: -1px;
}

.react-datepicker__navigation-icon--next {
  left: -2px;
}

.react-datepicker__navigation-icon--next:before {
  left: -7px;
  transform: rotate(45deg);
}

.react-datepicker__navigation-icon--previous {
  right: -2px;
}

.react-datepicker__navigation-icon--previous:before {
  right: -7px;
  transform: rotate(225deg);
}

.react-datepicker__month-container {
  float: left;
}

.react-datepicker__year {
  text-align: center;
  margin: .4rem;
}

.react-datepicker__year-wrapper {
  flex-wrap: wrap;
  max-width: 180px;
  display: flex;
}

.react-datepicker__year .react-datepicker__year-text {
  width: 4rem;
  margin: 2px;
  display: inline-block;
}

.react-datepicker__month {
  text-align: center;
  margin: .4rem;
}

.react-datepicker__month .react-datepicker__month-text, .react-datepicker__month .react-datepicker__quarter-text {
  width: 4rem;
  margin: 2px;
  display: inline-block;
}

.react-datepicker__input-time-container {
  clear: both;
  float: left;
  text-align: left;
  width: 100%;
  margin: 5px 0 10px 15px;
}

.react-datepicker__input-time-container .react-datepicker-time__caption, .react-datepicker__input-time-container .react-datepicker-time__input-container {
  display: inline-block;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input {
  margin-left: 10px;
  display: inline-block;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input {
  width: auto;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type="time"]::-webkit-inner-spin-button, .react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type="time"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type="time"] {
  -moz-appearance: textfield;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__delimiter {
  margin-left: 5px;
  display: inline-block;
}

.react-datepicker__time-container {
  float: right;
  border-left: 1px solid #aeaeae;
  width: 85px;
}

.react-datepicker__time-container--with-today-button {
  border: 1px solid #aeaeae;
  border-radius: .3rem;
  display: inline;
  position: absolute;
  top: 0;
  right: -87px;
}

.react-datepicker__time-container .react-datepicker__time {
  background: #fff;
  border-bottom-right-radius: .3rem;
  position: relative;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  text-align: center;
  border-bottom-right-radius: .3rem;
  width: 85px;
  margin: 0 auto;
  overflow-x: hidden;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  box-sizing: content-box;
  width: 100%;
  height: calc(195px + .85rem);
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  overflow-y: scroll;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  white-space: nowrap;
  height: 30px;
  padding: 5px 10px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  color: #fff;
  background-color: #216ba5;
  font-weight: bold;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
  background-color: #216ba5;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
  color: #ccc;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled:hover {
  cursor: default;
  background-color: #0000;
}

.react-datepicker__week-number {
  color: #ccc;
  text-align: center;
  width: 1.7rem;
  margin: .166rem;
  line-height: 1.7rem;
  display: inline-block;
}

.react-datepicker__week-number.react-datepicker__week-number--clickable {
  cursor: pointer;
}

.react-datepicker__week-number.react-datepicker__week-number--clickable:not(.react-datepicker__week-number--selected):hover {
  background-color: #f0f0f0;
  border-radius: .3rem;
}

.react-datepicker__week-number--selected {
  color: #fff;
  background-color: #216ba5;
  border-radius: .3rem;
}

.react-datepicker__week-number--selected:hover {
  background-color: #1d5d90;
}

.react-datepicker__day-names {
  white-space: nowrap;
  margin-bottom: -8px;
}

.react-datepicker__week {
  white-space: nowrap;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  color: #000;
  text-align: center;
  width: 1.7rem;
  margin: .166rem;
  line-height: 1.7rem;
  display: inline-block;
}

.react-datepicker__day, .react-datepicker__month-text, .react-datepicker__quarter-text, .react-datepicker__year-text {
  cursor: pointer;
}

.react-datepicker__day:not([aria-disabled="true"]):hover, .react-datepicker__month-text:not([aria-disabled="true"]):hover, .react-datepicker__quarter-text:not([aria-disabled="true"]):hover, .react-datepicker__year-text:not([aria-disabled="true"]):hover {
  background-color: #f0f0f0;
  border-radius: .3rem;
}

.react-datepicker__day--today, .react-datepicker__month-text--today, .react-datepicker__quarter-text--today, .react-datepicker__year-text--today {
  font-weight: bold;
}

.react-datepicker__day--highlighted, .react-datepicker__month-text--highlighted, .react-datepicker__quarter-text--highlighted, .react-datepicker__year-text--highlighted {
  color: #fff;
  background-color: #3dcc4a;
  border-radius: .3rem;
}

.react-datepicker__day--highlighted:not([aria-disabled="true"]):hover, .react-datepicker__month-text--highlighted:not([aria-disabled="true"]):hover, .react-datepicker__quarter-text--highlighted:not([aria-disabled="true"]):hover, .react-datepicker__year-text--highlighted:not([aria-disabled="true"]):hover {
  background-color: #32be3f;
}

.react-datepicker__day--highlighted-custom-1, .react-datepicker__month-text--highlighted-custom-1, .react-datepicker__quarter-text--highlighted-custom-1, .react-datepicker__year-text--highlighted-custom-1 {
  color: #f0f;
}

.react-datepicker__day--highlighted-custom-2, .react-datepicker__month-text--highlighted-custom-2, .react-datepicker__quarter-text--highlighted-custom-2, .react-datepicker__year-text--highlighted-custom-2 {
  color: green;
}

.react-datepicker__day--holidays, .react-datepicker__month-text--holidays, .react-datepicker__quarter-text--holidays, .react-datepicker__year-text--holidays {
  color: #fff;
  background-color: #ff6803;
  border-radius: .3rem;
  position: relative;
}

.react-datepicker__day--holidays .overlay, .react-datepicker__month-text--holidays .overlay, .react-datepicker__quarter-text--holidays .overlay, .react-datepicker__year-text--holidays .overlay {
  color: #fff;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  border-radius: 4px;
  padding: 4px;
  transition: visibility, opacity .3s ease-in-out;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.react-datepicker__day--holidays:not([aria-disabled="true"]):hover, .react-datepicker__month-text--holidays:not([aria-disabled="true"]):hover, .react-datepicker__quarter-text--holidays:not([aria-disabled="true"]):hover, .react-datepicker__year-text--holidays:not([aria-disabled="true"]):hover {
  background-color: #cf5300;
}

.react-datepicker__day--holidays:hover .overlay, .react-datepicker__month-text--holidays:hover .overlay, .react-datepicker__quarter-text--holidays:hover .overlay, .react-datepicker__year-text--holidays:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
  color: #fff;
  background-color: #216ba5;
  border-radius: .3rem;
}

.react-datepicker__day--selected:not([aria-disabled="true"]):hover, .react-datepicker__day--in-selecting-range:not([aria-disabled="true"]):hover, .react-datepicker__day--in-range:not([aria-disabled="true"]):hover, .react-datepicker__month-text--selected:not([aria-disabled="true"]):hover, .react-datepicker__month-text--in-selecting-range:not([aria-disabled="true"]):hover, .react-datepicker__month-text--in-range:not([aria-disabled="true"]):hover, .react-datepicker__quarter-text--selected:not([aria-disabled="true"]):hover, .react-datepicker__quarter-text--in-selecting-range:not([aria-disabled="true"]):hover, .react-datepicker__quarter-text--in-range:not([aria-disabled="true"]):hover, .react-datepicker__year-text--selected:not([aria-disabled="true"]):hover, .react-datepicker__year-text--in-selecting-range:not([aria-disabled="true"]):hover, .react-datepicker__year-text--in-range:not([aria-disabled="true"]):hover {
  background-color: #1d5d90;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
  color: #000;
  background-color: #bad9f1;
  border-radius: .3rem;
}

.react-datepicker__day--keyboard-selected:not([aria-disabled="true"]):hover, .react-datepicker__month-text--keyboard-selected:not([aria-disabled="true"]):hover, .react-datepicker__quarter-text--keyboard-selected:not([aria-disabled="true"]):hover, .react-datepicker__year-text--keyboard-selected:not([aria-disabled="true"]):hover {
  background-color: #1d5d90;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
  background-color: #216ba580;
}

.react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range), .react-datepicker__year--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range), .react-datepicker__month--selecting-range .react-datepicker__month-text--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range), .react-datepicker__year--selecting-range .react-datepicker__month-text--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range), .react-datepicker__month--selecting-range .react-datepicker__quarter-text--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range), .react-datepicker__year--selecting-range .react-datepicker__quarter-text--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range), .react-datepicker__month--selecting-range .react-datepicker__year-text--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range), .react-datepicker__year--selecting-range .react-datepicker__year-text--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range) {
  color: #000;
  background-color: #f0f0f0;
}

.react-datepicker__day--disabled, .react-datepicker__month-text--disabled, .react-datepicker__quarter-text--disabled, .react-datepicker__year-text--disabled {
  cursor: default;
  color: #ccc;
}

.react-datepicker__day--disabled .overlay, .react-datepicker__month-text--disabled .overlay, .react-datepicker__quarter-text--disabled .overlay, .react-datepicker__year-text--disabled .overlay {
  color: #fff;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  border-radius: 4px;
  padding: 4px;
  transition: visibility, opacity .3s ease-in-out;
  position: absolute;
  bottom: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.react-datepicker__input-container {
  width: 100%;
  display: inline-block;
  position: relative;
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  box-sizing: content-box;
  padding: .5rem;
  position: absolute;
}

.react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 25px;
}

.react-datepicker__year-read-view, .react-datepicker__month-read-view, .react-datepicker__month-year-read-view {
  border: 1px solid #0000;
  border-radius: .3rem;
  position: relative;
}

.react-datepicker__year-read-view:hover, .react-datepicker__month-read-view:hover, .react-datepicker__month-year-read-view:hover {
  cursor: pointer;
}

.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow, .react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view:hover .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-year-read-view:hover .react-datepicker__month-read-view--down-arrow {
  border-top-color: #b3b3b3;
}

.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow {
  top: 0;
  right: -16px;
  transform: rotate(135deg);
}

.react-datepicker__year-dropdown, .react-datepicker__month-dropdown, .react-datepicker__month-year-dropdown {
  z-index: 1;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #aeaeae;
  border-radius: .3rem;
  width: 50%;
  position: absolute;
  top: 30px;
  left: 25%;
}

.react-datepicker__year-dropdown:hover, .react-datepicker__month-dropdown:hover, .react-datepicker__month-year-dropdown:hover {
  cursor: pointer;
}

.react-datepicker__year-dropdown--scrollable, .react-datepicker__month-dropdown--scrollable, .react-datepicker__month-year-dropdown--scrollable {
  height: 150px;
  overflow-y: scroll;
}

.react-datepicker__year-option, .react-datepicker__month-option, .react-datepicker__month-year-option {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  line-height: 20px;
  display: block;
}

.react-datepicker__year-option:first-of-type, .react-datepicker__month-option:first-of-type, .react-datepicker__month-year-option:first-of-type {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.react-datepicker__year-option:last-of-type, .react-datepicker__month-option:last-of-type, .react-datepicker__month-year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.react-datepicker__year-option:hover, .react-datepicker__month-option:hover, .react-datepicker__month-year-option:hover {
  background-color: #ccc;
}

.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming, .react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming, .react-datepicker__month-year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #b3b3b3;
}

.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous, .react-datepicker__month-option:hover .react-datepicker__navigation--years-previous, .react-datepicker__month-year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #b3b3b3;
}

.react-datepicker__year-option--selected, .react-datepicker__month-option--selected, .react-datepicker__month-year-option--selected {
  position: absolute;
  left: 15px;
}

.react-datepicker__close-icon {
  cursor: pointer;
  vertical-align: middle;
  background-color: #0000;
  border: 0;
  outline: 0;
  height: 100%;
  padding: 0 6px 0 0;
  display: table-cell;
  position: absolute;
  top: 0;
  right: 0;
}

.react-datepicker__close-icon:after {
  cursor: pointer;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  content: "×";
  background-color: #216ba5;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 2px;
  font-size: 12px;
  line-height: 1;
  display: table-cell;
}

.react-datepicker__close-icon--disabled {
  cursor: default;
}

.react-datepicker__close-icon--disabled:after {
  cursor: default;
  background-color: #ccc;
}

.react-datepicker__today-button {
  cursor: pointer;
  text-align: center;
  clear: left;
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  padding: 5px 0;
  font-weight: bold;
}

.react-datepicker__portal {
  z-index: 2147483647;
  background-color: #000c;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.react-datepicker__portal .react-datepicker__day-name, .react-datepicker__portal .react-datepicker__day, .react-datepicker__portal .react-datepicker__time-name {
  width: 3rem;
  line-height: 3rem;
}

@media (width <= 400px), (height <= 550px) {
  .react-datepicker__portal .react-datepicker__day-name, .react-datepicker__portal .react-datepicker__day, .react-datepicker__portal .react-datepicker__time-name {
    width: 2rem;
    line-height: 2rem;
  }
}

.react-datepicker__portal .react-datepicker__current-month, .react-datepicker__portal .react-datepicker-time__header {
  font-size: 1.44rem;
}

.react-datepicker__children-container {
  width: 13.8rem;
  height: auto;
  margin: .4rem;
  padding-left: .2rem;
  padding-right: .2rem;
}

.react-datepicker__aria-live {
  clip-path: circle(0);
  white-space: nowrap;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.react-datepicker__calendar-icon {
  vertical-align: -.125em;
  width: 1em;
  height: 1em;
}


/* [project]/app/components/pages/home/hero/components/form/main.css [app-client] (css) */
:root {
  --primary-color: #ee5a52;
  --primary-hover: #feeced;
  --primary-light: #f7d6d6;
}

.date-picker {
  background: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
}

.calendar {
  background: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-family: inherit;
}

.react-datepicker__header {
  background: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  color: #fff;
}

.react-datepicker__current-month {
  color: #fff;
}

.react-datepicker__navigation {
  top: 10px;
}

.react-datepicker__navigation--previous {
  border-right-color: #fff;
}

.react-datepicker__navigation--next {
  border-left-color: #fff;
}

.react-datepicker__day-name {
  color: #fff;
}

.react-datepicker__day--selected {
  border-radius: 4px;
  background: var(--primary-color) !important;
  color: #fff !important;
}

.react-datepicker__day--selected:hover {
  background: var(--primary-color) !important;
  color: #fff !important;
}

.react-datepicker__day--in-range {
  border-radius: 0;
  background: var(--primary-light) !important;
  color: #000 !important;
}

.react-datepicker__day--in-range:hover {
  background: var(--primary-hover) !important;
  color: var(--primary-color) !important;
}

.react-datepicker__day--range-start {
  border-radius: 4px 0 0 4px;
  background: var(--primary-color) !important;
  color: #fff !important;
}

.react-datepicker__day--range-start:hover {
  background: var(--primary-color) !important;
  color: #fff !important;
}

.react-datepicker__day--range-end {
  border-radius: 0 4px 4px 0;
  background: var(--primary-color) !important;
  color: #fff !important;
}

.react-datepicker__day--range-end:hover {
  background: var(--primary-color) !important;
  color: #fff !important;
}

.react-datepicker__day--range-start.react-datepicker__day--range-end {
  border-radius: 4px;
  background: var(--primary-color) !important;
  color: #fff !important;
}

.react-datepicker__day--range-start.react-datepicker__day--range-end:hover {
  background: var(--primary-color) !important;
  color: #fff !important;
}

.react-datepicker__day--today {
  color: var(--primary-color);
  background: #f7fafc;
  font-weight: bold;
}

.react-datepicker__day--today:hover {
  background: var(--primary-light);
  color: var(--primary-color);
}

.react-datepicker__day:hover {
  background: var(--primary-light);
  color: var(--primary-color);
  border-radius: 4px;
}

.react-datepicker__day--disabled {
  color: #cbd5e0;
  cursor: not-allowed;
}

.react-datepicker__day--disabled:hover {
  color: #cbd5e0;
  background: none;
}

.react-datepicker__day--outside-month {
  color: #cbd5e0;
}

.react-datepicker__day--outside-month:hover {
  color: #a0aec0;
  background: #f7fafc;
}

.react-datepicker__day--in-range {
  background-color: var(--primary-color) !important;
}


/* [project]/node_modules/react-day-picker/src/style.css [app-client] (css) */
.rdp-root {
  --rdp-accent-color: blue;
  --rdp-accent-background-color: #f0f0ff;
  --rdp-day-height: 44px;
  --rdp-day-width: 44px;
  --rdp-day_button-border-radius: 100%;
  --rdp-day_button-border: 2px solid transparent;
  --rdp-day_button-height: 42px;
  --rdp-day_button-width: 42px;
  --rdp-selected-border: 2px solid var(--rdp-accent-color);
  --rdp-disabled-opacity: .5;
  --rdp-outside-opacity: .75;
  --rdp-today-color: var(--rdp-accent-color);
  --rdp-dropdown-gap: .5rem;
  --rdp-months-gap: 2rem;
  --rdp-nav_button-disabled-opacity: .5;
  --rdp-nav_button-height: 2.25rem;
  --rdp-nav_button-width: 2.25rem;
  --rdp-nav-height: 2.75rem;
  --rdp-range_middle-background-color: var(--rdp-accent-background-color);
  --rdp-range_middle-color: inherit;
  --rdp-range_start-color: white;
  --rdp-range_start-background: linear-gradient(var(--rdp-gradient-direction), transparent 50%, var(--rdp-range_middle-background-color) 50%);
  --rdp-range_start-date-background-color: var(--rdp-accent-color);
  --rdp-range_end-background: linear-gradient(var(--rdp-gradient-direction), var(--rdp-range_middle-background-color) 50%, transparent 50%);
  --rdp-range_end-color: white;
  --rdp-range_end-date-background-color: var(--rdp-accent-color);
  --rdp-week_number-border-radius: 100%;
  --rdp-week_number-border: 2px solid transparent;
  --rdp-week_number-height: var(--rdp-day-height);
  --rdp-week_number-opacity: .75;
  --rdp-week_number-width: var(--rdp-day-width);
  --rdp-weeknumber-text-align: center;
  --rdp-weekday-opacity: .75;
  --rdp-weekday-padding: .5rem 0rem;
  --rdp-weekday-text-align: center;
  --rdp-gradient-direction: 90deg;
  --rdp-animation_duration: .3s;
  --rdp-animation_timing: cubic-bezier(.4, 0, .2, 1);
}

.rdp-root[dir="rtl"] {
  --rdp-gradient-direction: -90deg;
}

.rdp-root[data-broadcast-calendar="true"] {
  --rdp-outside-opacity: unset;
}

.rdp-root {
  box-sizing: border-box;
  position: relative;
}

.rdp-root * {
  box-sizing: border-box;
}

.rdp-day {
  width: var(--rdp-day-width);
  height: var(--rdp-day-height);
  text-align: center;
}

.rdp-day_button {
  cursor: pointer;
  font: inherit;
  color: inherit;
  width: var(--rdp-day_button-width);
  height: var(--rdp-day_button-height);
  border: var(--rdp-day_button-border);
  border-radius: var(--rdp-day_button-border-radius);
  background: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.rdp-day_button:disabled {
  cursor: revert;
}

.rdp-caption_label {
  z-index: 1;
  white-space: nowrap;
  border: 0;
  align-items: center;
  display: inline-flex;
  position: relative;
}

.rdp-dropdown:focus-visible ~ .rdp-caption_label {
  outline: 5px auto highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

.rdp-button_next, .rdp-button_previous {
  cursor: pointer;
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--rdp-nav_button-width);
  height: var(--rdp-nav_button-height);
  background: none;
  border: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  display: inline-flex;
  position: relative;
}

.rdp-button_next:disabled, .rdp-button_next[aria-disabled="true"], .rdp-button_previous:disabled, .rdp-button_previous[aria-disabled="true"] {
  cursor: revert;
  opacity: var(--rdp-nav_button-disabled-opacity);
}

.rdp-chevron {
  fill: var(--rdp-accent-color);
  display: inline-block;
}

.rdp-root[dir="rtl"] .rdp-nav .rdp-chevron {
  transform-origin: 50%;
  transform: rotate(180deg);
}

.rdp-dropdowns {
  align-items: center;
  gap: var(--rdp-dropdown-gap);
  display: inline-flex;
  position: relative;
}

.rdp-dropdown {
  z-index: 2;
  opacity: 0;
  appearance: none;
  width: 100%;
  cursor: inherit;
  line-height: inherit;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
}

.rdp-dropdown_root {
  align-items: center;
  display: inline-flex;
  position: relative;
}

.rdp-dropdown_root[data-disabled="true"] .rdp-chevron {
  opacity: var(--rdp-disabled-opacity);
}

.rdp-month_caption {
  height: var(--rdp-nav-height);
  align-content: center;
  font-size: large;
  font-weight: bold;
  display: flex;
}

.rdp-root[data-nav-layout="around"] .rdp-month, .rdp-root[data-nav-layout="after"] .rdp-month {
  position: relative;
}

.rdp-root[data-nav-layout="around"] .rdp-month_caption {
  justify-content: center;
  margin-inline-start: var(--rdp-nav_button-width);
  margin-inline-end: var(--rdp-nav_button-width);
  position: relative;
}

.rdp-root[data-nav-layout="around"] .rdp-button_previous {
  inset-inline-start: 0;
  height: var(--rdp-nav-height);
  display: inline-flex;
  position: absolute;
  top: 0;
}

.rdp-root[data-nav-layout="around"] .rdp-button_next {
  inset-inline-end: 0;
  height: var(--rdp-nav-height);
  justify-content: center;
  display: inline-flex;
  position: absolute;
  top: 0;
}

.rdp-months {
  gap: var(--rdp-months-gap);
  flex-wrap: wrap;
  max-width: fit-content;
  display: flex;
  position: relative;
}

.rdp-month_grid {
  border-collapse: collapse;
}

.rdp-nav {
  height: var(--rdp-nav-height);
  align-items: center;
  display: flex;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
}

.rdp-weekday {
  opacity: var(--rdp-weekday-opacity);
  padding: var(--rdp-weekday-padding);
  text-align: var(--rdp-weekday-text-align);
  text-transform: var(--rdp-weekday-text-transform);
  font-size: smaller;
  font-weight: 500;
}

.rdp-week_number {
  opacity: var(--rdp-week_number-opacity);
  height: var(--rdp-week_number-height);
  width: var(--rdp-week_number-width);
  border: var(--rdp-week_number-border);
  border-radius: var(--rdp-week_number-border-radius);
  text-align: var(--rdp-weeknumber-text-align);
  font-size: small;
  font-weight: 400;
}

.rdp-today:not(.rdp-outside) {
  color: var(--rdp-today-color);
}

.rdp-selected {
  font-size: large;
  font-weight: bold;
}

.rdp-selected .rdp-day_button {
  border: var(--rdp-selected-border);
}

.rdp-outside {
  opacity: var(--rdp-outside-opacity);
}

.rdp-disabled {
  opacity: var(--rdp-disabled-opacity);
}

.rdp-hidden {
  visibility: hidden;
  color: var(--rdp-range_start-color);
}

.rdp-range_start {
  background: var(--rdp-range_start-background);
}

.rdp-range_start .rdp-day_button {
  background-color: var(--rdp-range_start-date-background-color);
  color: var(--rdp-range_start-color);
}

.rdp-range_middle {
  background-color: var(--rdp-range_middle-background-color);
}

.rdp-range_middle .rdp-day_button {
  border-color: #0000;
  border: unset;
  border-radius: unset;
  color: var(--rdp-range_middle-color);
}

.rdp-range_end {
  background: var(--rdp-range_end-background);
  color: var(--rdp-range_end-color);
}

.rdp-range_end .rdp-day_button {
  color: var(--rdp-range_start-color);
  background-color: var(--rdp-range_end-date-background-color);
}

.rdp-range_start.rdp-range_end {
  background: revert;
}

.rdp-focusable {
  cursor: pointer;
}

@keyframes rdp-slide_in_left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes rdp-slide_in_right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes rdp-slide_out_left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes rdp-slide_out_right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.rdp-weeks_before_enter {
  animation: rdp-slide_in_left var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
}

.rdp-weeks_before_exit {
  animation: rdp-slide_out_left var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
}

.rdp-weeks_after_enter {
  animation: rdp-slide_in_right var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
}

.rdp-weeks_after_exit {
  animation: rdp-slide_out_right var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
}

.rdp-root[dir="rtl"] .rdp-weeks_after_enter {
  animation: rdp-slide_in_left var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
}

.rdp-root[dir="rtl"] .rdp-weeks_before_exit {
  animation: rdp-slide_out_right var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
}

.rdp-root[dir="rtl"] .rdp-weeks_before_enter {
  animation: rdp-slide_in_right var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
}

.rdp-root[dir="rtl"] .rdp-weeks_after_exit {
  animation: rdp-slide_out_left var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
}

@keyframes rdp-fade_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rdp-fade_out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.rdp-caption_after_enter {
  animation: rdp-fade_in var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
}

.rdp-caption_after_exit {
  animation: rdp-fade_out var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
}

.rdp-caption_before_enter {
  animation: rdp-fade_in var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
}

.rdp-caption_before_exit {
  animation: rdp-fade_out var(--rdp-animation_duration) var(--rdp-animation_timing) forwards;
}


/* [project]/app/components/DatePicker/main.css [app-client] (css) */
.rdp {
  --rdp-cell-size: 40px;
  --rdp-day-height: 40px;
  --rdp-day-width: 40px;
  --rdp-day_button-height: 38px;
  --rdp-day_button-width: 38px;
  --rdp-nav_button-height: 32px;
  --rdp-nav_button-width: 32px;
  --rdp-disabled-opacity: .5;
  --rdp-outside-opacity: .5;
  --rdp-animation_duration: .2s;
  --rdp-animation_timing: ease-in-out;
  margin: 0;
  font-family: inherit;
  --rdp-accent-color: #f30f1d !important;
  --rdp-accent-background-color: #f30f1d !important;
  --rdp-selected-border: 2px solid #f30f1d !important;
  --rdp-today-color: #f30f1d !important;
  --rdp-range_start-background: #f30f1d !important;
  --rdp-range_start-color: white !important;
  --rdp-range_end-background: #f30f1d !important;
  --rdp-range_end-color: white !important;
  --rdp-range_middle-background-color: #f30f1d1a !important;
  --rdp-range_middle-color: #f30f1d !important;
  --rdp-outline: 2px solid #f30f1d !important;
  --rdp-outline-selected: 2px solid #f30f1d !important;
}

.rdp-root {
  --rdp-accent-color: red;
  --rdp-range_middle-background-color: #feeced;
}

.rdp-months {
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.rdp-month {
  margin: 0;
}

.rdp-caption {
  color: #1a202c;
  justify-content: center;
  margin-bottom: .5rem;
  padding: .5rem;
  font-weight: 600;
  display: flex;
}

.rdp-nav {
  gap: .5rem;
  display: flex;
}

.rdp-nav_button {
  width: var(--rdp-nav_button-width);
  height: var(--rdp-nav_button-height);
  cursor: pointer;
  color: #4a5568;
  background: none;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: all .2s;
  display: flex;
}

.rdp-nav_button:hover {
  color: #f30f1d;
  background-color: #f7fafc;
}

.rdp-nav_button:disabled {
  opacity: var(--rdp-nav_button-disabled-opacity, .5);
  cursor: not-allowed;
}

.rdp-table {
  border-collapse: collapse;
  width: 100%;
}

.rdp-head_row {
  margin-bottom: .5rem;
}

.rdp-head_cell {
  color: #4a5568;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  padding: .25rem;
  font-size: 12px;
  font-weight: 600;
}

.rdp-tbody, .rdp-row {
  border: none;
}

.rdp-cell {
  text-align: center;
  border: none;
  padding: 2px;
}

.rdp-button {
  width: var(--rdp-day_button-width);
  height: var(--rdp-day_button-height);
  cursor: pointer;
  color: #1a202c;
  background: none;
  border: none;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  transition: all .2s;
  display: flex;
}

.rdp-button:hover {
  color: #f30f1d;
  background-color: #f7fafc;
}

.rdp-button:disabled {
  opacity: var(--rdp-disabled-opacity);
  cursor: not-allowed;
}

.rdp-day_today {
  color: var(--rdp-today-color);
  font-weight: 700;
}

.rdp-day_selected {
  font-weight: 700;
  background-color: var(--rdp-accent-background-color) !important;
  color: #fff !important;
}

.rdp-day_selected:hover {
  color: #fff !important;
  background-color: #d00e19 !important;
}

.rdp-day_range_start, .rdp-day_range_end {
  font-weight: 700;
  background-color: var(--rdp-range_start-background) !important;
  color: var(--rdp-range_start-color) !important;
}

.rdp-day_range_middle {
  background-color: var(--rdp-range_middle-background-color) !important;
  color: var(--rdp-range_middle-color) !important;
}

.rdp-day_range_middle:hover {
  background-color: #f30f1d33 !important;
}

.rdp-day_outside {
  opacity: var(--rdp-outside-opacity);
}


/*# sourceMappingURL=_0ecb7d9d._.css.map*/